{% extends "layout.html.twig" %}

{% block content %}

  <div class="container">

    <h1><span class="glyphicon glyphicon-list-alt"></span> Les articles</h1>
    <hr>
    {% for post in posts %}

      <div class="post-item">
        <a href={{ ("post-" ~ post.id ~ "-" ~ post.title) | replace({' ' : '-'}) | lower | url_encode }}>
          <div class="row">
            {# TITRE #}
            <div class="container-fluid">
              <div class="titre">
                {{ post.title }}
              </div>
            </div>
            {# Auteur - Date de modification#}
            <div class="container-fluid">
              par <span class="sub">{{ post.author }} </span>
              <span class="date">
                  <span class="glyphicon glyphicon-time" style="color: #2e9874"></span>
                {{ post.dateLastModif | date("d/m/Y") }}
                </span>
            </div>
          </div>

          <hr>

          <div class="row">
            {# CHAPO #}
            <div class="container-fluid">
              <p class="intro">"{{ post.intro }}"</p>
            </div>
          </div>
        </a>
      </div>
      <hr>
    {% endfor %}
  </div>

{% endblock %}