{% extends "layout.html.twig" %}

{% block content %}

  <div class="container">
    {% for post in posts %}

      <div class="row">
        {# TITRE #}
        <div class="col-sm-6 col-md-8 col-lg-10">
          <h3>{{ post.title }}</h3>
        </div>
        {# Auteur - Date de modification#}
        <div class="col-sm-6 col-md-8 col-lg-10">
          {{ post.author }} {{ post.dateLastModif | date("d/m/Y H:i:s") }}
        </div>
      </div>

      <div class="row">
        {# CHAPO #}
        <div class="col-sm-6 col-md-8 col-lg-10">
          <h3>{{ post.intro }}</h3>
        </div>
      </div>

      <div class="row">
        {# Lien vers le post #}
        <div class="col-sm-6 col-md-8 col-lg-10">
          <a href={{ ("post-" ~ post.id ~ "-" ~ post.title) | replace({' ' : '-'}) | lower | url_encode }} >
            Voir le post
          </a>
        </div>
      </div>

    {% endfor %}
  </div>

{% endblock %}