{% extends "layout.html.twig" %}

{% block content %}

  <div class="container">

      <div class="row">
        {# TITRE #}
        <div class="col-sm-6 col-md-8 col-lg-10">
          <h3>{{ post.title }}</h3>
        </div>
        {# Auteur - Date de modification#}
        <div class="col-sm-6 col-md-8 col-lg-10">
          {{ post.author }} {{ post.dateLastModif | date("d/m/Y H:i:s") }}
          <a href={{ ("edit_post-" ~ post.id) }} >
            Editer le post
          </a>
        </div>
      </div>

      <div class="row">
        {# CHAPO #}
        <div class="col-sm-6 col-md-8 col-lg-10">
          <h3>{{ post.intro }}</h3>
        </div>
      </div>

      <div class="row">
        {# CONTENU #}
        <div class="col-sm-6 col-md-8 col-lg-10">
          <p>{{ post.content }}</p>
        </div>
      </div>

      <div class="row">
      {# Lien vers le post #}
      <div class="col-sm-6 col-md-8 col-lg-10">
        <a href={{ ("add_comment-" ~ post.id) }} >
          Ajouter un commentaire
        </a>
      </div>
    </div>

      {# COMMENTS #}
      {% for comment in post.comments %}
        <div class="row">
          {{ comment.author }} {{ comment.dateCreation | date("d/m/Y H:i:s") }}
        </div>
        <div class="row">
          {{ comment.content }}
        </div>
      {% endfor %}

  </div>

{% endblock %}